@font-face {
    font-family: layui-icon;
    src: url(./font/iconfont.eot);
    src: url(./font/iconfont.eot) format('embedded-opentype'),url(./font/iconfont.svg) format('svg'),url(./font/iconfont.woff) format('woff'),url(./font/iconfont.ttf) format('truetype')
}
 

html {
    background-color: #f2f2f2;
    color: #666;
}

body {
    line-height: 24px;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400
}
a:active, a:hover {
    outline: 0
}
a cite {
    font-style: normal;
    *cursor: pointer;
}

img {
    border: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

h4, h5, h6 {
    font-size: 100%
}
hr {
    height: 1px;
    margin: 10px 0;
    border: 0;
    clear: both
}

li {
    list-style: none
}

.mui-layout-body {
    overflow: hidden;
}
a {
    color: #333;
    text-decoration: none;
}
    a:hover {
        color: #777
    }

    [mui-href]{
        cursor:pointer;
    }

#LAY_app, body, html {
    height: 100%;
}

blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*登录*/

.mui-user-login {
    position: relative;
    left: 0;
    top: 0;
    padding: 110px 0;
    min-height: 100%;
    box-sizing: border-box;
}

.mui-user-login-header {
    text-align: center;
}

    .mui-user-login-header h2 {
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 30px;
        color: #000;
    }

.mui-user-login-main {
    width: 375px;
    margin: 0 auto;
    box-sizing: border-box;
}

    .mui-user-login-main .mui-form-item .mui-input {
        padding-left: 38px;
    }

.mui-user-login-box {
    padding: 20px;
}

.mui-user-login-body .mui-form-item {
    position: relative;
}

.mui-user-login-icon {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 38px;
    line-height: 36px;
    text-align: center;
    color: #d2d2d2;
}

.mui-icon-username:before {
    content: "\e66f";
}

.mui-icon-password:before {
    content: "\e673";
}
.mui-icon-vercode:before {
    content: "\e679";
}
.mui-icon-shrink-right:before {
    content: "\e668"
}
.mui-icon-website:before {
    content: "\e7ae";
}
.mui-icon-refresh-3:before {
    content: "\e9aa";
}

.mui-icon-search:before {
    content: "\e615";
}
.mui-icon-ok-circle:before {
    content: "\1005"
}
.mui-icon-circle:before {
    content: "\e63f"
}
.mui-icon-radio:before {
    content: "\e643"
}

.mui-user-login-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    color: rgba(0,0,0,.5);
}

    .mui-user-login-footer span {
        display:inline;
    }

/*通用*/
.mui-row:after, .mui-row:before {
    content: '';
    display: block;
    clear: both;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    float: left;
    position: relative;
}

.col-md-12 {
    width: 100%;
}

.col-md-11 {
    width: 91.66666667%;
}

.col-md-10 {
    width: 83.33333333%;
}

.col-md-9 {
    width: 75%;
}

.col-md-8 {
    width: 66.66666667%;
}

.col-md-7 {
    width: 58.33333333%;
}

.col-md-6 {
    width: 50%;
}

.col-md-5 {
    width: 41.66666667%;
}

.col-md-4 {
    width: 33.33333333%;
}

.col-md-3 {
    width: 25%;
}

.col-md-2 {
    width: 16.66666667%;
}

.col-md-1 {
    width: 8.33333333%;
}




/*表单通用*/

.mui-form-item .mui-inline {
    margin-bottom: 5px;
    margin-right: 10px;
}

.mui-form-item {
    margin-bottom: 15px;
    clear: both;
    *zoom: 1;
}
.mui-form-item:after {
    content: '\20';
    clear: both;
    *zoom: 1;
    display: block;
    height: 0;
}

.mui-form-label {
    float: left;
    display: block;
    padding: 9px 15px;
    width: 80px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}

.mui-input-block {
    margin-left: 110px;
    min-height: 36px;
}
.mui-input-block *{
    margin:0 10px;
}


.mui-form-item .mui-input-inline {
    float: left;
    width: 190px;
    margin-right: 10px;
}
.mui-inline, img {
    display: inline-block;
    vertical-align: middle;
}

.mui-inline .mui-input{
    display:inline-block;
}


.mui-input, .mui-textarea {
    display: block;
    width: 100%;
    padding-left: 10px;
}


.mui-input, .mui-select, .mui-textarea {
    height: 38px;
    line-height: 1.3;
    line-height: 38px\9;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-radius: 2px;
}
 

.mui-badge-rim, .mui-colla-content, .mui-colla-item, .mui-collapse,
.mui-elem-field, .mui-form-pane .mui-form-item[pane], .mui-form-pane .mui-form-label,
.mui-input, .mui-layedit, .mui-layedit-tool, .mui-quote-nm, .mui-select, .mui-tab-bar,
.mui-tab-card, .mui-tab-title, .mui-tab-title .mui-this:after, .mui-textarea {
    border-color: #e6e6e6;
}
.mui-btn, .mui-input, .mui-select, .mui-textarea, .mui-upload-button {
    outline: 0;
    -webkit-appearance: none;
    transition: all .3s;
    -webkit-transition: all .3s;
    box-sizing: border-box
}

.mui-trans, .mui-trans a {
    transition: all .3s;
    -webkit-transition: all .3s;
}

.mui-user-login-codeimg{
    cursor:pointer;
}
.mui-timeline-item:before, hr {
    background-color: #e6e6e6;
}

/*下拉*/
.mui-form-label, .mui-form-mid, .mui-form-select, .mui-input-block, .mui-input-inline, .mui-textarea {
    position: relative;
}
.mui-form-select .mui-input {
    padding-right: 30px;
    cursor: pointer;
}
.mui-form-select dl {
    
    display: none;
    position: absolute;
    left: 0;
    top: 42px;
    padding: 5px 0;
    z-index: 899;
    min-width: 100%;
    border: 1px solid #d2d2d2;
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
    box-sizing: border-box;
}
.mui-form-select dl dd {
    cursor: pointer;
}

.mui-form-select dl dd, .mui-form-select dl dt {
    padding: 0 10px;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mui-form-select dl dd:hover {
    background-color: #f2f2f2;
    -webkit-transition: .5s all;
    transition: .5s all
}

.mui-form-select dl dd.mui-this {
    background-color: #5FB878;
    color: #fff;
}

.mui-form-selected dl {
    display: block;
}

.mui-edge {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    overflow: hidden;
}

.mui-form-select .mui-edge {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
  
    cursor: pointer;
    border-width: 6px;
    border-top-color: #c2c2c2;
    border-top-style: solid;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.mui-form-selected .mui-edge {
    margin-top: -9px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: -3px\9;
}

/*按钮*/
.mui-btn {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.mui-btn:hover {
    opacity: .8;
    filter: alpha(opacity=80);
    color: #fff
}

.mui-btn-normal {
    background-color: #1E9FFF;
}


.mui-btn-fluid {
    width: 100%;
}

.mui-form input[type=checkbox], .mui-form input[type=radio], .mui-form select {
    display: none;
}

/*图标*/
.mui-icon {
    font-family: layui-icon !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mui-icon-ok:before {
    content: "\e605";
}

.mui-icon-home:before {
    content: "\e68e";
}
.mui-icon-component:before {
    content: "\e857";
}

.mui-icon-template:before {
    content: "\e663";
}
.mui-icon-app:before {
    content: "\e653";
}

.mui-icon-app:before {
    content: "\e653";
}
.mui-icon-senior:before {
    content: "\e674";
}

.mui-icon-user:before {
    content: "\e770";
}
.mui-icon-set:before {
    content: "\e716";
}
.mui-icon-auz:before {
    content: "\e672";
}

/*复选框*/

.mui-form-checkbox {
    position: relative;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    padding-right: 30px;
    cursor: pointer;
    font-size: 0;
    -webkit-transition: .1s linear;
    transition: .1s linear;
    box-sizing: border-box;
}

    .mui-form-checkbox i {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 28px;
        border: 1px solid #d2d2d2;
        border-left: none;
        border-radius: 0 2px 2px 0;
        color: #fff;
        font-size: 20px;
        text-align: center;
    }


    .mui-form-checkbox[skin=primary] {
        height: auto !important;
        line-height: normal !important;
        min-width: 18px;
        min-height: 18px;
        border: none !important;
        margin-right: 0;
        padding-left: 28px;
        padding-right: 0;
        background: 0 0;
    }
    .mui-form-checkbox span {
        padding: 0 10px;
        height: 100%;
        font-size: 14px;
        border-radius: 2px 0 0 2px;
        background-color: #d2d2d2;
        color: #fff;
        overflow: hidden;
    }
    .mui-form-checkbox[skin=primary] span {
        padding-left: 0;
        padding-right: 15px;
        line-height: 18px;
        background: 0 0;
        color: #666;
    }

        .mui-form-checkbox[skin=primary] i {
            right: auto;
            left: 0;
            width: 16px;
            height: 16px;
            line-height: 16px;
            border: 1px solid #d2d2d2;
            font-size: 12px;
            border-radius: 2px;
            background-color: #fff;
            -webkit-transition: .1s linear;
            transition: .1s linear;
        }

        .mui-form-checked[skin=primary] i {
            border-color: #5FB878;
            background-color: #5FB878;
            color: #fff;
        }

/*单选 */
.mui-form-radio {
    line-height: 28px;
    margin: 6px 10px 0 0;
    padding-right: 10px;
    cursor: pointer;
    
}
.mui-form-radio,.mui-form-radio * {
    display: inline-block;
    vertical-align: middle
}
.mui-form-radio > i {
    margin-right: 8px;
    font-size: 22px;
    color: #c2c2c2
}
.mui-form-radio > i:hover, .mui-form-radioed > i {
    color: #5FB878
}

.mui-form-radioed > i:before {
    content: "\e643"
}

/*头部*/
.mui-header {
    z-index: 1000;
    height: 60px;
}

 /*导航*/



.mui-nav {
    position: relative;
    padding: 0 20px;
    background-color: #393D49;
    color: #fff;
    border-radius: 2px;
    font-size: 0;
    box-sizing: border-box;
}
.mui-nav * {
    font-size: 14px;
}
.mui-nav .mui-nav-more {
    /* content: ''; */
    width: 0;
    height: 0;
    border-style: solid dashed dashed;
    border-color: #fff transparent transparent;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    position: absolute;
    top: 50%;
    right: 3px;
    margin-top: -3px;
    border-width: 6px;
    border-top-color: rgba(255,255,255,.7);
}

.mui-nav .mui-nav-mored, .mui-nav-itemed > a .mui-nav-more {
    margin-top: -9px;
    border-style: dashed dashed solid;
    border-color: transparent transparent #fff
}

.mui-layout-left {
    position: absolute !important;
    left: 200px;
    top: 0;
}
.mui-layout-right {
    position: absolute !important;
    right: 0;
    top: 0;
}

/*树型*/
.mui-nav-tree .mui-nav-child dd.mui-this, .mui-nav-tree .mui-nav-child dd.mui-this a, .mui-nav-tree .mui-this, .mui-nav-tree .mui-this > a, .mui-nav-tree .mui-this > a:hover {
    background-color: #009688;
    color: #fff;
}

.mui-nav-tree {
    width: 200px;
    padding: 0;
}
.mui-nav-tree .mui-nav-item {
    display: block;
    width: 100%;
    line-height: 45px;
}

.mui-nav-tree .mui-nav-item a {
    position: relative;
    height: 45px;
    line-height: 45px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mui-nav-tree .mui-nav-child {
    position: relative;
    z-index: 0;
    top: 0;
    border: none;
    box-shadow: none;
}
.mui-nav-child {
    display: none;
    position: absolute;
    left: 0;
    top: 65px;
    min-width: 100%;
    line-height: 36px;
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
    border: 1px solid #d2d2d2;
    background-color: #fff;
    z-index: 100;
    border-radius: 2px;
    white-space: nowrap;
}

.mui-nav-tree .mui-nav-child, .mui-nav-tree .mui-nav-child a:hover {
    background: 0 0;
    color: #fff;
}


 

/*基础导航*/


.mui-nav .mui-nav-item {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    line-height: 60px;
}

.mui-nav .mui-nav-item a {
    display: block;
    padding: 0 20px;
    color: #fff;
    color: rgba(255,255,255,.7);
    transition: all .3s;
    -webkit-transition: all .3s;
}

.mui-nav-itemed > .mui-nav-child {
    display: block;
    padding: 0;
    background-color: rgba(0,0,0,.3) !important;
}




/*标签工具栏*/

.mui-nav .mui-nav-item {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    line-height: 60px;
}

/*边栏*/
.mui-side {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    width: 200px;
    overflow-x: hidden;
}
.mui-layout-admin .mui-side {
    top: 60px;
    width: 200px;
    overflow-x: hidden;
}
.mui-side-scroll {
    position: relative;
    width: 220px;
    height: 100%;
    overflow-x: hidden;
}

/*显示主体*/
.mui-body {
    position: absolute;
    left: 200px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 998;
    width: auto;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}


/*面包屑*/
.mui-breadcrumb{

}
.mui-breadcrumb .mui-breadcrumb-item-link{

}
.mui-breadcrumb .mui-breadcrumb-item-separator{

}
.mui-breadcrumb>span:last-child .mui-breadcrumb-item-separator {
    display: none;
}
.mui-breadcrumb>span:last-child {
    font-weight: 700;
    color: #515a6e;
}
/*表格*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.mui-table-header {
    border-width: 0 0 1px;
    overflow: hidden;
    margin-bottom: -1px;
}
.mui-table {
    width: 100%;
    background-color: #fff;
    color: #666;
}

.mui-table-box{
    overflow:hidden;
    position:relative;
}

.mui-border-box, .mui-border-box * {
    box-sizing: border-box;
}

.mui-table tr {
    transition: all .3s;
    -webkit-transition: all .3s;
}
.mui-table tbody tr:hover, .mui-table thead tr, .mui-table-click, .mui-table-main, .mui-table-hover, .mui-table-mend, .mui-table-patch,
.mui-table-tool, .mui-table-total, .mui-table-total tr {
    background-color: #f2f2f2;
}
.mui-table-view .mui-table td, .mui-table-view .mui-table th {
    /*padding: 5px 0;*/
    border-top: none;
    border-left: none;
}
.mui-table td, .mui-table th {
    position: relative;
    padding: 9px 15px;
    min-height: 20px;
    line-height: 20px;
    font-size: 14px;
}
.mui-table td, .mui-table th, .mui-table-main, .mui-table-page {
    border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6;
}
.mui-table .fixwidth{
    overflow:hidden;
}

.mui-table-main {
    margin-right: -1px;
    margin-bottom: -1px;
}

/*分页*/
.mui-table-page {
    position: relative;
    width: 100%;
    padding: 7px 7px 0;
    height: 41px;
    font-size: 12px;
    white-space: nowrap;
}
.mui-table-page li {
    display: inline-block;
    padding: 0 12px; 
    height: 25px;
    border-radius: 2px;
    text-align:center;
}
.mui-table-page .current {
    background-color: #009688;
}
.mui-table-page .current a { 
    color: #fff;
}
.mui-table-page .paginList{
    float:left;
}
.mui-table-page input[type=text]{
    float:left;
    display:inline;
}
.mui-table-page .message {
    float: right;
}

.mui-table-page {
    border-width: 0 1px 1px;
    margin-bottom: -1px;
    overflow: hidden;
}

/*右窗体*/
.mui-fluid {
    padding: 15px;
}
/*卡片*/
.mui-card {
    margin-bottom: 15px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}


.mui-card-header {
    position: relative;
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    border-bottom: 1px solid #f6f6f6;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 14px;
}

.mui-card-body {
    position: relative;
    padding: 10px 15px;
    line-height: 24px;
}

.mui-card .mui-table-view {
    margin: 0;
}